#controls{
    clear: both;
}
#my_hand{
    clear: both;
    border: 1px solid red;
    height: 250px;
    width: 835px;
    background-color: #075f00;
}
h3{
    display: inline;
    padding-right:40px;
}
.current_hand{
    float: left;
}
#btnHit,#btnStick,#btnRestart{
    display: none;
    float: left;
}
#imgResult{
    left: 500px;
    top: 400px;
    width: 500px;
    z-index: 10;
    position: absolute;

}